.done{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.dtwo{
    background-color: black;
    height: 100%;
    width: 100%;
}
.dthree h3{
   
    text-align: center;
    padding-top: 50px;
    padding-bottom: 40px;
}
.dthree a{
    text-decoration: none;
    color: white;
}
.dthree a:hover{
    
    color: rgb(212, 21, 21);
}
.dthree li{
    padding: 20px 10px;
}
.dfive{
    background-color: rgb(240, 237, 233);
    padding: 10px;
    box-shadow: 1px 3px 10px rgba(0,0,0,0.5);
}
.dfive h4{
    text-align: center;
    
}
